@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;

.nav-link{
    @apply text-pink mx-2 hover:text-pink-dark font-logo font-semibold;
}
.active
{
    @apply text-aqua-dark;
}

.btn{
    @apply text-sm p-1 rounded-md bg-white text-pink-dark border-2 border-pink-dark hover:text-white hover:border-aqua-dark hover:bg-aqua font-logo font-semibold;
}

.link{
    @apply text-sm p-1 rounded-md text-pink-dark hover:text-aqua-dark font-logo font-semibold;
}

.input{
    @apply focus:border-aqua-dark focus:ring focus:ring-aqua focus:ring-opacity-50 rounded-md shadow-sm;
}

.form-label{
    @apply block font-medium text-base;
}

.btn-toolbox{
    @apply h-5 w-5 text-pink-dark mx-1;
}
.btn-toolbox:hover
{
    @apply text-aqua-dark;
}
.btn-toolbox:disabled{
    @apply text-pink-lighter cursor-default;
}

.vertical-separator{
    @apply border-r border-pink-lighter mx-1;
}


@tailwind utilities;


@layer utilities {
    @variants responsive {
        .text-shadow {
          text-shadow: 2px 2px 4px #00ccc5;
        }
        .text-shadow-md {
          text-shadow: 4px 4px 8px black;
        }
        .text-shadow-lg {
          text-shadow: 15px 15px 30px black;
        }
        .text-shadow-none {
          text-shadow: none;
        }
    }
}
